
<h4>Under construction</h4>
<div class="center">
                   
    
    <br/>
    <div class="row">
        <div class="col-sm-2">
            <button class="rounded-pill btn btn-success" routerLink="/para">Add</button>
        </div>
        <div class="col-sm-8">
            
        </div>
        <div class="col-sm-2">
            <button class="rounded-pill  btn btn-secondary">Sync </button>
        </div>
    </div>    
    <br/>
    <br/>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Numar Lucrare</th>
            <th scope="col">Proprietor</th>
            <th scope="col">UAT</th>
            <th scope="col">Adresa</th>
            <th scope="col">OCPI</th>
            <th scope="col">BCPI</th>
            <th scope="col">ANUL</th>
            <th scope="col">Numar cerere OCPI</th>
            <th scope="col">Tipul lucrarii</th>
            <th scope="col">Stare Curenta</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="row">
                <div class="col-sm-2">
                  <a class='fas'>&#xf044;</a>
                </div>
                <div class="col-sm-2">
                  <a class="material-icons">&#xe872;</a>
                </div>
              </div>
            </td>
           
          </tr>
         
        </tbody>
      </table>
   <br/>

  </div>
 