
<div class="mar container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <h3>Parametrii cautarii</h3>
        </div>
        <div>
            <button type="button" class="btn btn-primary" routerLink="/ser">Application track number</button>
        </div>
        <br/>
        <br/>
    </div>
    
    <br/>
    
    <div class="row">
       
        <div class="col-sm-4">
        

                        <div class="row">
                            <!-- cols div has 12 total columns -->
                            <div class="col-sm-3">
                            <p>Numar lucrare</p>
                            </div>

                            <div class="col-sm-3">
                                <input type="text" required>
                            </div>

                        
                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <p>DEPUS OCPI</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <p>Beneficiar</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <p>Proprietar</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <p>Observatii</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <p>UAT</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <p>Adresa</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-3">
                                <p>CF/Tarla</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-3">
                                <p>Identificator (Nr. Top/nr. cad.)</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-3">
                                <p>contact servicii</p>
                            </div>

                            <div class="col-md-3">
                                <input type="text" required>
                            </div>

                        </div>
    
    </div>


    <div class="col-sm-6">
            <div class="row">

                <div class="col-sm-3">
                    <p>Pret total lucrare</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-3">
                    <p>Avans</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-3">
                    <p>Diferenta</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-3">
                    <p>OCPI</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-3">
                    <p>BCPI</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-3">
                    <p>Anul</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-3">
                    <p>Numar cerere OCPI</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-3">
                    <p>Data inregistrare</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-3">
                    <p>Termen solutionare</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-3">
                    <p>Tipul lucrarii</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-3">
                    <p>Stare curenta</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-3">
                    <p>Lucrare</p>
                </div>

                <div class="col-md-3">
                    <input type="text" required>
                </div>
                <br/>
                <br/>
            </div>


        

            <div class="row">
            
                <div class="col-sm-2">
                <button class="btn btn-success">Salvati</button>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-danger" (click)="getalert()">Inchide</button>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
                   
  
  
      