h1{
    color:darkblue;
}

h5{
    color: darkmagenta;
}


.mar{
    margin-left: 15%;
    margin-right: 15%;
}

.borderless td, .borderless th {
    border: none;
}

p{
    font-weight:bold;
    
}

.outer{
    outline-color:red;
    outline-style: outset;
}