/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer{
  cursor: pointer;
}
.bg-grey{
  background-color: #707070;
}

/* below css is for custom sort icon */

.mat-sort-header-stem{
  height: 14px !important;
}

.custom-sorting-icon .mat-sort-header-indicator {
 top: 3px;
}

.text-green{
  color:#228B22;
}